body{
    font-family: 'Roboto Slab', serif;
    margin:0 auto;
}

nav{
    /* background-color: green; */
    height: 80px;
    width: 100%;
}
label.logo{
    margin: 0 100px;
    line-height:80px;
    font-weight: bold;
    font-size: 25px;
}
nav ul{
    float:right;
    display:flex;
    line-height: 75px;
    margin: 0 100px;
    font-weight: bold;

}
nav li{
    list-style:none;
    margin-right:20px; 
}
nav li a{
    text-decoration:none;
    color:black;
}

/* top banner */
.top-banner{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
   
}
.left-side{
    padding-top: 60px;
}
h1{
    font-size:60px;;
}
.anchor-button{
    text-decoration: none;
    background-color:rgb(217, 45, 111);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700px;

}
.half-width img{
    width: 80%;
    
    padding: 80px 20px;
   
}
/* top banner end */
  /* ..........................
  meadia quary
  ........................... */


  /*mobile meadia quary*/
  @media only screen and (min-width:688px;){
    nav ul li{
        display: none;
        float: hide;
    }  
  }
  /* ..........................
  meadia quary
  ........................... */
    /* ..........................
  meadia quary
  ........................... */



/* popular connection */
.popular-heading{
    text-align: center;
}
h2{
    font-size: 40px;
}
.courses{
display: grid;

grid-template-columns: repeat(3, 1fr);

margin-left: 7%;
margin-right: 10%;
margin-top: 10%;
justify-content: space-between;

}
.course{
    margin-bottom: 80px;
    margin-left: 80px;
    box-shadow: 5px 7px 40px gray;
    /* background-color: rgb(72, 61, 61); */
  
}
.course-details{
    padding-left: 20px;

}
.courses .course-banner img{
    width: 90%;
    height: 265px;
    padding-top: 20px;
    padding-left: 20px;
}
.fa-star{
    font-size:12px;
}

.fa-start.emty{
    color:#bbb8ae;
}
.course-info{
    display: flex;
    align-items: center;
    color:#fdbc08;
  
}
.rating{
    color:rgb(90, 88, 88);
    font-size: 14px;
    font-weight:700;
}
.connection-info{
    color: gray;
    font-size: 14px;
    font-weight:700;
}
.arrow{
    float: right;
    margin-right: 10%;
    margin-bottom: 10%;

}
.right-arrrow{
    color: rgb(255, 95, 95);
    font-size: 30px;
    font-weight:700;
}

/* -------------------------
bonus 
...........................*/
.gellary-area{
    
    margin-top: 10%;
    margin-bottom: 10%;
}
h3{
    text-align: center;
}
.photo-album{
    display: grid;
    
grid-template-columns: repeat(4, 1fr);

margin-left: 7%;
margin-right: 10%;
margin-top: 10%;
justify-content: space-between;

}
.photo-frame{
    width:300px;
    height: 200px;
    border: 2px solid golden;
    border-radius:10px;
    position: relative;
    margin: 15px;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail{
    display: none;

    position: absolute;
    width:300px;
    top: 0;;

}

.photo-frame:hover .photo-detail {
display: block;
background-color:rgba(125, 91, 32, 0.53);
}

.photo-detail p{
    color: white;
}

.photo-detail h3{
    background-color: black;
    color: white;
    text-align: center;
}








/* footer area */
footer{
    
}
.footer-area{
    
 background-color: #000000;
justify-content: center;
align-items: center;

}
h4{
    font-size: 25px;
}

.footer-item{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 60px;
}
.footer-item a{
    font-size: 30px;
    margin: 20px 20px;
}